<!DOCTYPE html>
<html>
  <head>
  <% include headerStuff %>
  </head>
  <body>
  <div class="container-fluid">
    <% include pageHeader %>
    <div class="row"><div class="col-xs-12">
      <h3 id="notetitle"><%= note ? note.title : "" %></h3>
      <p id="notebody"><%= note ? note.body : "" %></p>
      <p>Key: <span id="notekey"><%= notekey %></span></p>
    </div></div>
    <% if (notekey && user) {%>
     <div class="row">
       <div class="btn-group col-sm-12">
         <a class="btn btn-default" href="/notes/destroy?key=<%= notekey %>" role="button">Delete</a>
         <a class="btn btn-default" href="/notes/edit?key=<%= notekey %>" role="button">Edit</a></p>
       </div>
     </div>
    <% } %>
    <% include footer %>
    <% if(notekey) { %>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        $(document).ready(function(){
          io('/view').on('noteupdate', function(note){
            if(note.key === "<%= notekey %>"){
              $('h3#notetitle').empty();
              $('h3#notetitle').text(note.title);
              $('p#notebody').empty();
              $('p#notebody').text(note.body);
            }
          });
          io('/view').on('notedestroy', function(data){
            if(data.key === "<%= notekey %>"){
              window.location.href = "/";
            }
          });
        });
      </script>
    <% } %>
  </div>
  </body>
</html>
